@import "tailwindcss";

@theme {
  --color-background: #f7f3eb;
  --color-foreground: #2d2a26;

  --color-card: #ffffff;
  --color-card-foreground: #2d2a26;

  --color-primary: #d46a43;
  --color-primary-foreground: #ffffff;

  --color-muted: #e6e2d8;
  --color-muted-foreground: #736d64;

  --color-border: #e6e2d8;
  --radius: 0.75rem;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply font-sans antialiased overflow-x-hidden pb-32;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}